.root {
  border: 1px solid white;
  border-radius: 5px;
}

.root:hover {
  border: 1px solid var(--light-blue);
  transition: border linear 0.5s;
  cursor: pointer;
}

.root:active {
  opacity: 0.8;
}

.root:disabled,
.root:disabled:hover {
  background-color: var(--disabled-grey);
  border: 1px solid var(--disabled-grey);
  cursor: default;
}

.primary {
  background-color: var(--orange);
}

.secondary {
  background-color: var(--orange-light);
}

.dark {
  background-color: var(--dark-blue);
  color: white;
}

.big {
  padding: 10px 20px;
}

.small {
  padding: 4px 20px;
}
