@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url(../fonts/OpenSans-Bold.ttf);
}

:root {
  --header-height: 80px;
  --footer-height: 80px;
  --orange-light: rgb(237, 185, 123);
  --orange: rgb(255, 140, 0);
  --border-grey: darkgrey;
  --disabled-grey: #ccc;
  --quote-grey: #eee;
  --dark-blue: rgb(3, 65, 104);
  --light-blue: rgb(3, 65, 104, 0.5);
  --black-overlay: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
